// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: url("/assets/white_wall_hash.png") repeat;
}

.photo {
  height: 300px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  .footer {
    position: absolute;
    bottom: 0;
    padding: 10px;
    background-color: #f7f7f7;
    right: 0;
    border-top: 1px solid #eee;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    margin: 0;
    .photo-desc {
      width: 220px;
      overflow: hidden;
    }
    .links {
      position: absolute;
      top: 10px;
      right: 10px;
    }
    .vote {
      position: absolute;
      top: 30px;
      right: 10px;
    }
  }
}

.hero-unit {
  .photo-desc {
    margin-top: 20px;
  }
  .img-polaroid {
    img {
      margin: 0 auto;
      display: block;
    }
  }
}